#footer-container {
  display: flex;
  margin-top: 138vw;
  background-color: #0E4656;
}

#footer-text-container {
  display: flex;
  justify-content: space-between;
}

#copyright-container {
  display: flex;
  justify-content: space-between;
}

#columns-wrapper {
  display: flex;
}